<div class="container">
<h1>商品新規登録</h1>
<%= form_with model: @item, url: admin_items_path, method: :post ,local:true do |f| %>
<h1>商品画像</h1>
<%= f.file_field :image , accept: "image/*" %>
<h1>商品名</h1>
<%= f.text_field :name %>
<h1>商品説明</h1>
<%= f.text_area :introduction %>
<h1>ジャンル</h1>
<%= f.select :genre_id, options_from_collection_for_select(Genre.all,:id, :name) %>
<h1>税抜価格</h1>
<%= f.text_field :price, placeholder:'1000' %>円
<h1>販売ステータス</h1>
<%= f.radio_button :is_active, "true" %>
<%= f.label :is_active, "販売中"%>
<%= f.radio_button :is_active, "false" %>
<%= f.label :is_active, "販売停止中"%>


<%= f.submit '新規登録',class:"btn btn-success"%>
<% end %>

</div>